<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <title>MagicSub</title>
</head>
<body>
<h1 align="center" style="padding: 0px 0px 70px 0px">Помощь в работе с субтитрами</h1>

<div style="height: 500px">
  <figure>
    <img src="https://sun9-60.userapi.com/c204516/v204516385/20167/rkCatrZOT6g.jpg" style="width: 40%; padding: 0px 50px 30px 0px" align="left"/>
  </figure>

  <h2 style="margin: 50px"><a href="<%= shifts_path %>">Сдвиг</a></h2>

  <p><strong>Зачем это нужно?</strong></p>

  <p>Бывает, что в скачиваемых фильмах встроена реклама или особые интро</p>

  <p>Из-за этого субтитры, которые Вы захотите использовать, будут подаваться с лентой не синхронно</p>

</div>

<hr>

<div style="height: 600px">
  <figure>
    <img src="https://sun9-38.userapi.com/c204516/v204516385/20171/D8qWwvnoROY.jpg" style="width: 40%" align="right"/>
  </figure>

  <h2 style="margin: 50px 0px 30px 0">Объединение   <sub style="color: #9437FF">SOON</sub></h2>

  <p>Всё просто. Объединяйте субтитры, чтобы сразу видеть перевод, если Вы смотрите на языке оригинала</p>

  <hr>

  <h2 style="margin: 50px 0px 30px 0">Менеджер стилей   <sub style="color: #9437FF">SOON</sub></h2>

  <p>Настройте субтитры под себя</p>

  <hr>

  <h2 style="margin: 50px 0px 30px 0 ">Регистрация   <sub style="color: #9437FF">SOON</sub></h2>

  <p>Вы можете <a href="<%= new_user_registration_path %>" class="linkmy" target="_blank">зарегистрироваться</a> на сайте, делиться субтитрами с нами</p>


</div>
<hr>
</body>

<div class="signature">© 2020 neonxxx</div>
</html>
