<section class="body">

  <% shift_file %>

  <a href="<%= @shift.file %>" download>Готово</a>
  <p>Время сдвинулось на <%= @shift.time %> секунд</p>
</section>

<script type="text/javascript">
    window.onbeforeunload = function() {
        <% @shift.destroy %>
    }
</script>
