<title>Полезное | MagicSub</title>

<div class="container" style="width: 800px"
  <div class="zen-lib__container">
    <div class="zen-page _theme_white _lib-type_mordaDesktop _browser-base_safari">
      <div class="pORB2fsTuMg">
        <div class="feed _column-count_3 _rubbery-type_null _is-morda-desktop">
          <div class="feed__row">
            <div class="feed__item-wrap _size_small">
              <div class="card-container _is-desktop feed__item _size_small _item-type_card">
                <div class="card-image-view _render-type_blur _size_small _is-desktop _with-shadows" style="color: rgb(0, 0, 0); background-color: rgb(144, 144, 144);">
                  <div class="blur-image">
                    <div class="blur-image__wrap">
                      <div class="blur-image__image _mode_bci _is-loaded _aspect-ratio_normal" style="background-image: url(&quot;https://sun9-34.userapi.com/c855436/v855436563/1b0ccf/JeLnJL_GipA.jpg&quot;);"></div>
                    </div>
                  </div>
                  <div class="blackout-filter"></div>
                  <div class="card-hover" style="background-color: rgb(255, 255, 255);"></div>
                  <a class="card-image-view__clickable" href="<%= manuals_extract_subs_path %>" target="_blank"></a>

                  <div class="card-content _render-type_blur _is-desktop _size_small _collapse-header">
                    <div class="card-content__text-content">
                      <div class="clamp _line-count_3 card-title _is-desktop _font-size_3" style="margin:70px 0 0 0">
                        <div class="clamp__wrapper">
                          <div class="clamp__text">
                            <h2 class="specified-title clamp__visible-tokens" itemprop="headline">Как извлечь субтитры?</h2>
                          </div>
                        </div>
                        <div class="clamp__text-expand">aaaaa</div>
                      </div>
                      <div class="clamp _line-count_3 card-content__text">
                        <div class="clamp__wrapper">
                          <div class="clamp__text"><span class="clamp__visible-tokens _ellipsis">Рассказываю про извлечение субтитров на macOS</span>
                            <div class="clamp__spacer"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card-content__footer">
                      <div class="card-content__source">
                        <div class="card-content__source-name">
                          <div class="card-channel-link">
                            <div class="card-channel-name _size_small" style="color: rgb(0, 0, 0);">MagicSub </div>
                          </div>
                        </div>

                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="feed__item-wrap _size_small">
              <div class="card-container _is-desktop feed__item _size_small _item-type_card">
                <div class="card-image-view _render-type_blur _size_small _is-desktop _with-shadows" style="color: rgb(0, 0, 0); background-color: rgb(144, 144, 144);">
                  <div class="blur-image">
                    <div class="blur-image__wrap">
                      <div class="blur-image__image _mode_bci _is-loaded _aspect-ratio_normal" style="background-image: url(&quot;https://sun9-48.userapi.com/c855436/v855436563/1b0cc7/nzYEvZeGLkg.jpg&quot;);"></div>
                    </div>
                  </div>
                  <div class="blackout-filter"></div>
                  <div class="card-hover" style="background-color: rgb(255, 255, 255);"></div>
                  <a class="card-image-view__clickable" href="<%= manuals_things_path %>" target="_blank"></a>

                  <div class="card-content _render-type_blur _is-desktop _size_small _collapse-header">
                    <div class="card-content__text-content">
                      <div class="clamp _line-count_3 card-title _is-desktop _font-size_3" style="margin:70px 0 0 0">
                        <div class="clamp__wrapper">
                          <div class="clamp__text">
                            <h2 class="specified-title clamp__visible-tokens" itemprop="headline">Little things</h2>
                          </div>
                        </div>
                        <div class="clamp__text-expand">aaaaa</div>
                      </div>
                      <div class="clamp _line-count_3 card-content__text">
                        <div class="clamp__wrapper">
                          <div class="clamp__text"><span class="clamp__visible-tokens _ellipsis">Делюсь полезными ссылками</span>
                            <div class="clamp__spacer"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card-content__footer">
                      <div class="card-content__source">
                        <div class="card-content__source-name">
                          <div class="card-channel-link">
                            <div class="card-channel-name _size_small" style="color: rgb(0, 0, 0);">MagicSub </div>
                          </div>
                        </div>

                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
</div>