<title>Things | MagicSub</title>

<div class="container">
<div class="text" style="height: 600px">
  <h2>Где найти русские субтитры?</h2>
  <img src="<%= asset_path("back_to_the_future_III.jpg")%>" width="40%" align="right" />
  <p style="margin-top: 100px">
    Русские субтитры к новинкам можно проверять <a href="http://subs.com.ru/" class="linkmy" target="_blank">здесь</a>
  </p>

  <p>&nbsp;</p>

  <p>
    Также есть сообщества, самостоятельно
  </p>
  <p>
    выпускающие перевод:
    <a href="tg://resolve?domain=meninsub" class="linkmy" target="_blank">MENINSUB</a>,
    <a href="tg://resolve?domain=blindsubs" class="linkmy" target="_blank">BlindSubs</a>,
  </p>
  <p>
    <a href="tg://resolve?domain=SubbedAsFuck" class="linkmy" target="_blank">Subbed</a>,
    <a href="https://vk.com/physical_kids" class="linkmy" target="_blank">PhysKids</a>
  </p>
</div>

<hr>

<div class="text" style="height: 400px">
  <h2>Кстати</h2>
  <img src="<%= asset_path("netflix.jpg")%>" width="40%" align="left" />
  <p style="margin-top: 100px">
    На Netflix русские сабы сразу вшивают в выпускаемые картины.
  </p>
  <p>
    И на Amazon.
  </p>
</div>

<hr>

<div class="text">
  <h2>Хочу скачать субтритры с Youtube!</h2>
  <img src="<%= asset_path("big_trouble_in_little_china.jpg")%>" width="50%" align="right" />
  <p style="margin-top: 200px">Чтобы скачать сабы с Youtube,</p>
  <p>можно воспользоваться <a href="https://downsub.com" class="linkmy" target="_blank">DownSub</a></p>
</div>
</div>

<%= render 'disqus' %>