<title>Things | MagicSub</title>

<div class="container">
<div class="text" style="height: 500px">
  <h2>Где найти русские субтитры?</h2>
  <img src="https://sun9-2.userapi.com/c204528/v204528528/1d6a7/AkkqiO1fS24.jpg" width="40%" align="right" />
  <p style="margin-top: 100px">
    Русские субтитры к новинкам можно проверять <a href="http://subs.com.ru/" style="color: #9437FF!important" target="_blank">здесь</a>
  </p>

  <p>&nbsp;</p>

  <p>
    Также есть сообщества, самостоятельно
  </p>
  <p>
    выпускающие перевод:
    <a href="https://teleg.run/meninsub" style="color: #9437FF!important" target="_blank">MENINSUB</a>,
    <a href="https://teleg.run/blindsubs" style="color: #9437FF!important" target="_blank">BlindSubs</a>,
    <a href="https://teleg.run/SubbedAsFuck" style="color: #9437FF!important" target="_blank">Subbed</a>,
    <a href="https://vk.com/physical_kids" style="color: #9437FF!important" target="_blank">PhysKids</a>
  </p>
</div>

<hr>

<div class="text" style="height: 400px">
  <h2>Кстати</h2>
  <img src="https://sun9-7.userapi.com/c204528/v204528528/1d69d/R9MmUlKvnyw.jpg" width="40%" align="left" />
  <p style="margin-top: 100px">
    На Netflix русские сабы сразу вшивают в выпускаемые картины.
  </p>
  <p>
    И на Amazon.
  </p>
</div>

<hr>

<div class="text">
  <h2>Хочу скачать субтритры с Youtube!</h2>
  <img src="https://sun9-60.userapi.com/c854220/v854220026/1ae03a/XaXFpd_795E.jpg" width="50%" align="right" />
  <p style="margin-top: 200px">Чтобы скачать сабы с Youtube,</p>
  <p>можно воспользоваться <a href="https://downsub.com" style="color: #9437FF!important" target="_blank">DownSub</a></p>
</div>
</div>

<%= render 'disqus' %>